@media screen and (min-width: 639px){

    /* ELEMENTS TO HIDE */
    .small-logo{
            display: none;
    }

    /* ELEMENTS TO SHOW */
    .big-logo{
        display: contents;
    }

    .id .install,
    .id .user{
        display: contents;
    }

    .text-icon{
        display: contents;
    }

    .id .hr{
        display: block;
    }

    /* ASIDE */
    .aside{
        width: 30%;
    }

    .id{
        width: 90%;
        margin: 0 auto;
        align-items: flex-start;
    }

    

    .big-logo a{
        margin-bottom: 10%;
    }

    .aside-playlist{
        display: contents;
        border: 1px solid white;
        width: 95%;
    }

    .navigation{
        width: 95%;
        padding-left: 5%;
        align-items: flex-start;
    }

    /* HEADER */
    .header a{
        margin-right: 135px;
    }

    

    

   

    

    
}