/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;   
}

/* EFFECTS */
.cursor:hover{
    cursor: pointer;
}

.color:hover{
    color: white;
}

.zoom:hover{
    transform: scale(1.1);
}

.opacity:hover{
    filter: opacity(0.3);
}

/* CONTAINER */
.container{
    display: flex;
    height: 90vh;
    background-color: #141922;
}

/* GENERAL */
.edit-title{
    color: white;
    font-size: 1.5em;
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}

.last-title{
    margin-bottom: 4px;
}

.listen{
    display: block;
    color: #65696D;
    font-size: 0.8em;
    padding-bottom: 20px;
}

.circle{
    border-radius: 50%;
}

a{
    text-decoration: none;
}

/* DISPLAY NONE */
.big-logo{ 
    display: none;
}

.text-icon{
    display: none;
}

.aside-playlist{
    display: none;
}

.id .install,
.id .user{
    display: none;
}

.id .hr{
    display: none;
}

.folder{
    display: none;
}

.control-volume{
    display: none;
}

.control-volume input{
    display: none;
}

/* ASIDE */
.aside{
    background-color: black;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TOP SECTION ASIDE */
.navigation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    flex-shrink: 1;
    overflow-y: hidden;
}

.small-img{
    width: 30px;
    padding: 5px 0;
}

.big-img{
    width: 80%;
    padding: 10px 0;
}

.library,
.search,
.home-button{
    width: 25px;
    padding-bottom: 3px;
    height: auto;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container span{
    color: #65696D;
    font-size: 0.8em;
}

#page-active{
    color: white;
}

.middle-playlist{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    overflow-y: hidden;
}

.add{
    width: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-playlist{
    background-color: grey;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-playlist h2{
    color: white;
}

.add-playlist a{
    color: black;
}

.aside-playlist span{
    color: #5B5F65;
}

.playlist-list{
    margin-top: 10px;
    overflow-y: auto;
}

.playlist-list ul{
    list-style: none;
}

.playlist-list ul li{
    padding: 8px 0;
}

.playlist-list ul li a{
    text-decoration: none;
    color: #5B5F65;
    font-size: 0.9em;
}

/* BOTTOM SECTION ASIDE */
.id{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

.id .user{
    color: white;
    font-size: 0.9em;
}

.id .install{
    color: #5B5F65;
    font-size: 0.9em;
}

.id .hr{
    background-color: #5B5F65;
    width: 100%;
}

.fa-circle-arrow-down{
    color: #5B5F65;
}

.fa-user{
    color: white;
}

/* MAIN */
.main{
    width: 90%;
    overflow-y: auto;
}

.header{
    background-color: #090B12;
    filter: opacity(0.9);
    min-width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
}

.header a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 35px;
    text-transform: uppercase;
    margin-right: 12%;
    transition: 0.2s;
}

.home{
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;  
}

.category{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.select{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.active{
    display: flex;
    flex-direction: column;
}

.select span{
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #5B5F65;
    font-weight: bold;
}

.bottom{
    width: 30%;
    height: 1px;
    margin: 0 auto;
    border: 1px solid #7DB931;
    background-color: #7DB931;
}

.recent-container,
.personal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.card{
    flex-basis: calc(100% / 2 - 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card img{
    max-width: 100%;
    height: auto;
}

.invisible-play{
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 0%;
    height: 0%;
}

.invisible-play i{
    font-size: 3em;
}

.card:hover .invisible-play{
    visibility: visible;
}

.info-title{
    padding-bottom: 5px;
    color: white;
    font-size: 1.1em;
}

.info{
    padding: 15px 0;
}

.artist{
    display: flex;
    justify-content: center;
    color: #65696D;
    font-size: 0.9em;
}
/* FOOTER */
footer{
    height: 10vh;
    display: flex;
    background-color: #282828;
}

.song{
    height: 100%;
    flex-basis: 25%;
    display: flex;
    justify-content: space-between;
}

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-heart,
.fa-shuffle,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right{
    color: white;
}

.fa-heart,
.fa-folder,
.fa-list-ul,
.fa-tv,
.fa-volume-high{
    color: #65696D;;
}

.fa-circle-play{
    font-size: 1.7em;
}

.cover img{
    max-width: 80%;
    height: auto;
}

.name :first-child{
    color: white;
    font-size: 0.9em;
}

.playback-info{
    display: block;
    color: #65696D;
    font-size: 0.6em;
}

.play{
    height: 100%;
    flex-basis: 50%;
}

.audio{
    height: 100%;
    flex-basis: 25%;
}

.cover,
.name,
.like{
    height: 100%;
    flex-basis: 33%;
}

.buttons,
.time{
    height: 50%;
}

.button{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons,
.time{
    display: flex;
}

.time{
    justify-content: space-around;
}

.start,
.end{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control input{
    flex-basis: 90%;
}

.minute{
    color: white;
    font-size: 0.7em;
}

.start,
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio{
    display: flex;
}

.list,
.connect,
.speaker{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    flex-basis: 30%;
}